spring:
  application:
    name: share-todo
  profiles:
    default: dev

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha
    displayRequestDuration: true

# 공통 보안 설정(토큰 만료 등)
security:
  jwt:
    issuer: share-todo
    secret: ${JWT_SECRET}
    access-token-ttl-minutes: ${ACCESS_TTL_MINUTES}
    invite-token-ttl-hours: ${INVITE_TTL_HOURS}
    refresh-token-ttl-days: ${REFRESH_TTL_DAYS}